@import "../assets/fonts/fonts.css";

.DependentProfileContainer {
  width: 100%;
  background-color: #F0F1FF;
  height: 100%;
  font-family: 'SawarabiGothic', Helvetica, sans-serif;
}

.DependentProfileMain {
  display: flex;
  flex-direction: column;
  width: 100%;
  /*margin-left: 15rem;*/
  justify-content: center; /* Center horizontally */
  align-items: center;
  gap: .5rem;
}

.DependentProfileLeftSidebar {
  width: 10rem;
  height: 100%;
  /*margin-left: 15rem;*/
}

.DependentProfileMain button {
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  background-color: #94E5FF80;
  width: 20rem;
  border: none;
  cursor: pointer;
  font-family: 'SawarabiGothic', Helvetica, sans-serif;
  font-size: 1.1rem;
}

.DependentHomeTopbar {
  display: flex;
  flex-direction:row;
  justify-content: center; /* Center horizontally */
  align-items: center;
}

.DependentHomeImage img {
  margin: 2rem;
  width: 20rem;
  height: auto;
}

.DependentHomeName {
  margin: 5rem 5rem; 
}

.Bottom {
  width: 100%;
  padding-bottom: 1000px;
}

.DependentNavButtons {
  display:flex;
  flex-direction: column;
  gap: 10px;
}

@media screen and (max-width: 900px) {
    .Main {
        margin-top: 0.1rem;
        margin-left: 0.1rem;
    }
    
    .DependentHomeTopbar {
      flex-direction:column;
    }

    .DependentHomeImage img {
      margin:2rem 2rem;
      width: 70%;
      height: auto;
    }

    .DependentHomeName {
      margin: 1rem 1rem; 
    }

}
