
.HomeContainer {
  width: 100%;
  background-color: #F0F1FF;
  /*height: 100%;*/
}

.HomeMain {
  /*width: 100%;*/
  /*margin-left: 15rem;*/
  align-items: center;
  align-text: center;
}

.HomeTopImage img {
  width: 100%;
  max-width: 50rem;
  height: auto;
  align: center;
}

.Bottom {
  width: 100%;
  padding-bottom: 1000px;
}

@media screen and (max-width: 768px) {
    .Main {
        /*margin-top: 0.1rem;*/
        /*margin-left: 0.1rem;*/
    }
    
    .HomeTopImage {
    }
}
