
.HomeContainer {
  width: 100%;
  background-color: #F0F1FF;
  /*height: 100%;*/
}

.HomeMain {
  /*width: 100%;*/
  /*margin-left: 15rem;*/
  align-items: center;
  align-text: center;
}

.HomeTopImage img {
  display: flex; /* Enable flex layout 
  justify-content: center; /* Horizontally center the content */
  align-items: center; /* Vertically center the content (optional) */
  padding-left: 5rem;

  width: 80%;
  height: auto;
}

.Bottom {
  width: 100%;
  padding-bottom: 100px;
}

@media screen and (max-width: 1050px) {
    .HomeTopImage img {
        padding-left: 4rem;
    }
}

@media screen and (max-width: 900px) {
    .HomeTopImage img {
        padding-left: 2rem;
    }
}

@media screen and (max-width: 768px) {
    .Main {
        /*margin-top: 0.1rem;*/
        /*margin-left: 0.1rem;*/
    }
    
    .HomeTopImage img {
        padding-left: 0rem;
    }
}
