@import "../assets/fonts/fonts.css";

.ProfileHomeContainer {
  font-family: 'SawarabiGothic', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 100;

    width: 100%;
    background-color: #F0F1FF;
    height: auto;
}

.ProfileHomeMain {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  /*margin-left: 15rem;*/
  align-items: center;
}
.ProfileHomeTopbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* Center horizontally */
  align-items: center;
}
.ProfileImage img {
  margin: 2rem;
  width: 20rem;
  height: auto;
}
.ProfileName {
  /*margin: 5rem 5rem; */
}

.ProfileIntroduction {
  text-align: left; /* Left-justify the text within the section */
  max-width: 80%; /* Set a maximum width for the section, adjust as needed */
  min-width: 300px; /* Set a minimum width for the section */
  padding: 20px;
  border: 1px solid #ddd; /* Optional border for the section */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional box shadow for the section */
  margin: 0 auto; /* Center the section horizontally within the container */
}

.DependentList {
  display: flex;
}

.DependentListItem {
  align-items: center;
  margin-left: 4rem;
  width: 5rem;
}

.DependentPhoto img {
  width: 5rem;
  height: auto;
}

.DependentName {
  width: 5rem;
  text-align: center;
}

.ProfileHomeBottom {
  width: 100%;
  padding-bottom: 1000px;
}

.UpdateProfileButton button {
  padding: 10px;
  background-color: #94E5FF80;
  border-radius: 5px;
  width: 10rem;
  border: none;
  cursor: pointer;
  font-family: 'SawarabiGothic', Helvetica, sans-serif;
  font-size: 1.1rem;
}

@media screen and (max-width: 900px) {
    .ProfileHomeMain {
        margin-top: 0.1rem;
        margin-left: 0.1rem;
    }
    
    .ProfileHomeTopbar {
      flex-direction: column;
    }

}