@import "../assets/fonts/fonts.css";

.ProfileHomeContainer {
  font-family: 'SawarabiGothic', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 100;

    width: 100%;
    background-color: #FFF0C3;
    height: auto;
}

.ProfileHomeMain {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  /*margin-left: 15rem;*/
  align-items: center;
}
.ProfileHomeTopbar {
  display: flex;
  align-items: center;
}
.ProfileImage img {
  margin: 2rem;
  width: 20rem;
  height: auto;
}
.ProfileName {
  margin: 5rem 5rem; 
}

.DependentList {
  display: flex;
}

.DependentListItem {
  align-items: center;
  margin-left: 2rem;
  width: 5rem;
}

.DependentPhoto img {
  width: 5rem;
  height: auto;
}

.DependentName {
  width: 5rem;
  text-align: center;
}

.ProfileHomeBottom {
  width: 100%;
  padding-bottom: 1000px;
}

@media screen and (max-width: 900px) {
    .ProfileHomeMain {
        margin-top: 0.1rem;
        margin-left: 0.1rem;
    }
}