@import "../../assets/fonts/fonts.css";

.ProfileUpdateContainer {
  width: 100%;
  background-color: #FFF0C3;
  height: 100%;
  font-family: 'SawarabiGothic', Helvetica, sans-serif;
}

.ProfileUpdateItem {    
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.ProfileUpdateLocationItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;

  width: 30rem;
}

.DeleteDependent {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.DeleteDependent button {
  padding: 10px;
  background-color: #FAAABD80;
  border-radius: 5px;
  width: 10rem;
  border: none;
  cursor: pointer;
  font-family: 'SawarabiGothic', Helvetica, sans-serif;
  font-size: 1.1rem;
}

.ProfileUpdateItem button {
  padding: 10px;
  background-color: #94E5FF80;
  border-radius: 5px;
  width: 10rem;
  border: none;
  cursor: pointer;
  font-family: 'SawarabiGothic', Helvetica, sans-serif;
  font-size: 1.1rem;
}

.ProfileUpdateItem button:active {
  background-color: white;
}

.ProfileUpdateItem button:disabled {
  background-color: #BEBEBE;
}

.ProfileUpdateMain {    
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;

  text-align: flex-start;
  border: none;
  font-family: 'SawarabiGothic', Helvetica, sans-serif;
  font-size: 1.1rem;
}

.ProfileUpdateMain h1 {    
  font-family: 'Sansation', Consolas, sans-serif;
}

.ProfileUpdateMain h2 {    
  font-family: 'Sansation', Consolas, sans-serif;
}

.ProfileUpdateDetails button {
  padding: 10px;
  background-color: #94E5FF80;
  border-radius: 5px;
  width: 20rem;
  border: none;
  cursor: pointer;
  font-family: 'SawarabiGothic', Helvetica, sans-serif;
  font-size: 1.1rem;
}

.ProfileUpdateDetails button:active {
  background-color: white;
}

.ProfileUpdateDetails button:disabled {
  background-color: #BEBEBE;
}

.ProfileUpdateDetails p {
  /*color: white;*/
  width: 30rem;
  text-align: left;
  border: none;
  font-family: 'SawarabiGothic', Helvetica, sans-serif;
  font-size: 1.1rem;
}

.ProfileUpdateDetails {
  width: 30rem;
  gap: 1rem;
  padding: 1rem;
  border: none;
  border-radius: 10px;
  /*background-color: #FFF0C3;*/
  
  font-size: 16px;
  color: #333;
}

.ProfileUpdateDetails:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.DependentListItem {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 900px) {
    .Main {
        margin-top: 0.1rem;
        margin-left: 0.1rem;
    }
}
